* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    user-select: none;
}

html {
    display: relative;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(200deg, rgb(240,128,128), rgb(255,218,185)) 
}

.calculator {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(rgb(62, 62, 62), rgb(32, 32, 32));
    padding: 35px;
    border-radius: 25px;
    
}

.display-bar {
    max-width: 245px;
    margin: 20px 0;
    height: 95px;
    color: white;
    text-align: end;
    font-size: 24px;
    overflow: hidden;
    overflow-wrap: break-word;
}

.functions {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    gap: 15px;
}

.buttons {
    background-color: rgba(59, 59, 59, 0.8);
    color: white;
    border: none;
    border-radius: 25%;
    font-size: 150%;
    
}

.buttons:hover {
    background-color: rgba(59, 59, 59, 1);
}

.buttons:active {
    background-color: rgba(59, 59, 59, 1);
    outline: 1px solid grey;
}

.symbols {
    background-color: rgba(247, 154, 114, 0.95);
}

.symbols:hover {
    background-color: rgba(247, 154, 114, 1);
}

.symbols:active {
    background-color: rgba(247, 154, 114, 1);
    outline: 1px solid grey;
}

.equals {
    background-color: rgba(244, 123, 99, 0.95);
}

.equals:hover {
    background-color: rgba(244, 123, 99, 1);
}

.equals:active {
    background-color: rgba(244, 123, 99, 1);
    outline: 1px solid grey;
}